* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f4f4;
}

/* NAVBAR */
.navbar {
    background: #111;
    color: white;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-box input {
    padding: 8px;
    width: 220px;
    border-radius: 5px;
    border: none;
}

.cart {
    font-size: 20px;
    cursor: pointer;
}

.cart span {
    background: red;
    padding: 2px 6px;
    border-radius: 50%;
    font-size: 12px;
    margin-left: 5px;
}

/* BRAND */
.brands {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 15px;
    background: white;
}

.brands button {
    padding: 8px 15px;
    border: 1px solid #ddd;
    background: #fff;
    cursor: pointer;
    border-radius: 20px;
}

.brands button:hover {
    background: #111;
    color: white;
}

/* PRODUCTS */
.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    padding: 30px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card h3 {
    margin: 10px 0;
}

.card p {
    font-weight: bold;
    margin-bottom: 10px;
}

.card button {
    background: #111;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.card button:hover {
    background: #444;
}
